<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/PizzeriaStyleSheet.css" rel="stylesheet" />


    <title>Pizzeria SanGiovanni</title>
  </head>
<body style="Background-image: url(https://st.depositphotos.com/40094706/57581/i/600/depositphotos_575813940-stock-photo-marble-cream-texture-pattern-with.jpg)">

    <header>
        <nav class="navbar navbar-expand-lg navbar-light text-white bg-light" style="background-image: url(https://cdn.photoroom.com/v1/assets-cached.jpg?path=backgrounds_v3/black/Photoroom_black_background_extremely_fine_texture_only_black_co_aa6ab2c2-a550-4f3b-98af-405c4b63f74d.jpg)">
            <div class="container">
                <a class="navbar-brand text-white" href="/">Pizzeria SanGiovanni</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    </ul>
                </div>
            </div>
        </nav>
        <div class="img-h" style="background-image:url(https://img.freepik.com/free-photo/wooden-table-with-basil-other-ingredients_23-2147606547.jpg)">
      
           
        </div>
    </header>
    

    <main>@RenderBody()</main>
    <footer>
        <div class="footer-container" style="background-image: url(https://img.freepik.com/premium-vector/black-golden-marble-background_52683-64368.jpg)">
            <hr class="hr">
            <p>Altamura, Via Della Fonte, 5</p>
            <p>Bari</p>
            <p>123-456-7890</p>
            <p>pizzeria.sangiovanni@gmail.com</p>
            <p>Made with Love by GioPa97</p>
            <hr class="hr">
        </div>
    </footer>


    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    @RenderSection("OtherSection", required: false)

  </body>
</html>