@model Pizza

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center">
                <h1 class="mt-3 mb-3">Dettagli pizza</h1>
                
            </div>
            <div class="post-single-image-container">
                <img class="img-detail" src="@Model.Image">
            </div>
            <p>
                <br>
                <strong>@Model.Title</strong>
                
            </p>
            <p>
                <strong>Ingredienti:</strong>
                @Model.Description
            </p>
            <p>
                <strong>Impasto e preparazione:</strong>
                <br>
            <p>La Pizza napoletana è un piatto tipico della città di Napoli! La pizza tonda sottile e morbida a base di acqua, farina, lievito con il classico cornicione alto e gonfio. Ufficialmente riconosciuta nel 2010 come specialità tradizionale garantita dall’Unione europea e nel 2017 dall’UNESCO come patrimonio immateriale dell’umanità! Insomma, una vera e propria istituzione che nasce intorno al 1720 quando comparivano i primi dischi di pasta conditi con pomodoro, ma solo nel 1889 nacque la più famosa delle pizze napoletane! La Pizza Margherita condita con pomodoro, mozzarella (tradizionalmente fiordilatte) basilico fresco, olio extravergine e sale! Opera del cuoco Raffaele Esposito per onorare la Regina d’Italia Margherita di Savoia, realizzando una pietanza salata con gli stessi colori della bandiera italiana! Volete preparare la Pizza napoletana a casa vostra? Seguite questa Ricetta originale con tutti i consigli , trucchi e foto passo passo e fidatevi di me, otterrete un risultato strepitoso!</p>
            </p>
        </div>
    </div>
</div>
<span>
    <br>
</span>
