.footer-container {
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
    
    object-fit:cover;
}

.footer a {
    color: white;
}

.hr {
    border: 1px solid gold;
}

.img-h {
    height: 200px;
    background-position:top;
    background-size:inherit;
    object-fit:cover;
}
